$colorBlock: #62639B


.phrase
  width: 100%
  display: flex
  justify-content: center
  margin: 35px 0

  img
    width: 100px
    margin-right: 15px

  &Text
    min-width: 10%
    max-width: 50%
    height: 5%
    padding: 10px
    background-color: $colorBlock
    border-radius: 10px
    position: relative
    color: white
    z-index: 0

    &::before
      content: ''
      position: absolute
      width: 30px
      height: 25px
      background-color: $colorBlock
      bottom: 10px
      left: -5px
      transform: rotate(45deg)
      z-index: -1





