.cloudItem
  min-width: 60px
  height: 25px
  border:
    radius: 15px
  background-color: #5F9EA0
  display: flex
  justify-content: center
  align-items: center
  margin: 5px
  cursor: pointer
  color: white
  box-shadow: 2px 2px 5px 1px #708090
  transition: .5s



